<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
         
                <app-grafico-dona [doughnutChartLabels]= "graficosCom.grafico1.labels " 
                                   [doughnutChartData] = "graficosCom.grafico1.data" 
                                   [doughnutChartType] = "graficosCom.grafico1.type"
                                   [leyenda] ="graficosCom.grafico1.leyenda">
                </app-grafico-dona>     
        


            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
         
                <app-grafico-dona [doughnutChartLabels]= "graficosCom.grafico2.labels " 
                                   [doughnutChartData] = "graficosCom.grafico2.data" 
                                   [doughnutChartType] = "graficosCom.grafico2.type"
                                   [leyenda] ="graficosCom.grafico2.leyenda">

                                   
                </app-grafico-dona>     
        


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
         
                <app-grafico-dona [doughnutChartLabels]= "graficosCom.grafico3.labels " 
                                   [doughnutChartData] = "graficosCom.grafico3.data" 
                                   [doughnutChartType] = "graficosCom.grafico3.type"
                                   [leyenda] ="graficosCom.grafico3.leyenda">
                </app-grafico-dona>     
        


            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
         
                <app-grafico-dona [doughnutChartLabels]= "graficosCom.grafico4.labels " 
                                   [doughnutChartData] = "graficosCom.grafico4.data" 
                                   [doughnutChartType] = "graficosCom.grafico4.type"
                                   [leyenda] ="graficosCom.grafico4.leyenda">
                </app-grafico-dona>     
        


            </div>
        </div>
    </div>
</div>

