<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input  (keyup) ="buscar( input.value )" type="text" class="form-control" placeholder="Buscar">
            </div>
        </div>
    </div>
</div>

<div *ngIf="estaCargando" class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="alert alert-warning text-center">
                    <strong>Cargando</strong>
                    <br>
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                    <br>
                    <span>Espere por favor</span>            
                </div>
            </div>
        </div>
    </div>
</div>